@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
.Hero{
  display: flex;
  gap: 300px;
  justify-content: center;
}
.App{
  display: flex;
  justify-content: space-around;
}